@import "tailwindcss";


@keyframes ticker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-40%);
  }
}

.animate-ticker {
  animation: ticker 30s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-ticker {
    animation: none;
  }
}